.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .size {
    &_l {
      width: 500px;
    }

    &_m {
      width: 250px;
    }

    &_s {
      width: 50px;
    }
  }
}
