$text-color: #121416d8;
$link-color: #543fd7;
$primary-color: #fbf11f;
$primary-colorPressed: #eff32c;
$color-dark: #212a2e;
$button-hovered: #1e8ebe;
$button-primary: #2660ab;
$button-primary-hovered: #1d4e8f;
$main-color: #26a9e0;
$danger-color: #f34a57;
$stoke-color: #37ceb4;
$border-color: #edf3f7;
