@import "@/shared/colors";
@import "@/shared/breakpoints";

.root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .cartItem {
    padding: 20px;
    justify-content: space-between;
    display: flex;
    width: 45rem;

    @media ($adap-l) {
      width: 35rem;
    }

    @media (max-width: 580px) {
      width: 22rem;
      font-size: 12px;
    }

    @media ($adap-s) {
      width: 15rem;
      flex-wrap: wrap;
    }

    &_options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
      width: 30%;

      @media ($adap-s) {
        width: 100%;
        display: flex;
      }

      .price {
        color: $danger_color;
      }

      input {
        width: 50px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
        cursor: pointer;
      }

      button {
        background-color: $danger-color;
      }
    }
  }
}
